*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.navbar{
    width:100%;
    background-color: black;
    position: fixed;

}
.manu{
    height: 100vh;
    width:100%;
    background-color: black;

}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;

}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: green;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: green;
    transition: .6s;
}
.btn{
    background-color: green;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top:50%;
    left: 8%;
    transform: translateY(-50%);
    margin: 0px 0px 0px 380px;
}
.content h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.content h3{
    color: white;
    font-size: 25px;
    margin:0px 0px 50px 25px;

}
.content h4{
    color:green;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0px 0px 0px 100px;
}
.content .newslatter form{
    width: 450px;
    max-width: 100%;
    position: relative;
}
.content .newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid green;
    outline: none;
    border-radius: 30px;
}
.content .newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: green;
    color: white;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.links{
    position: absolute;
    top:50%;
    left: 8%;
    transform: translateY(420%);
    justify-content:space-between;
    margin: 0px 0px 0px 378px;
}
.links form button{
    font-size: 26px;
    margin-right: 25px;
    padding: 12px 20px;
    border-radius: 100%;
    background-color: black;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about .about-head {
    margin: 25px 550px;
}
.about .about-head h5{
    margin: 0px 100px;
    color: white;
    font-size: 30px;
    margin-bottom: 14px;
    letter-spacing: 5px;
}
.about .about-head p{
    color: #fcfc;
    font-size: 25px;
    margin-bottom: 14px;
    letter-spacing: 3px;
}
.about-image{
    display: flex;
}
.about-image .image img{
    width: 140px;
    border-radius: 50%;
    margin: 25px 100px;
}
.about-image .image-text p{
    color: white;
    letter-spacing: 3px;
    margin: 70px -25px;
}

.about-text{
    width: 500px;
   
}
.main{
    width: 1800px;
    max-width: 95%;
    margin: 0px;
    display: flex;
    
    justify-content: space-around;
}

.about-text h5{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 5px;
}
.about-text h6{
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 5px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
}
.about-text p a{
    text-decoration: none;
    color: #fcfc;
    transition: .4s;
}
.about-text p a:hover{
    cursor: pointer;
    color: green;

}
hr{
    margin-bottom: 25px;
}
.download-btn{
    margin: 0px 650px;
}
button{
    background-color: green;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
}
.resume{
    width: 100%;
    padding: 90px 0px;
    background-color: black;
}
.resume .title h2{
    color: white;
    margin: 0px 680px;
    letter-spacing: 3px;
    font-size: 25px;
}
.resume .title p{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 10px 610px;
}
.resume .resume-head h5{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 30px 700px;
}
.resume .box{
    display: flex;
    margin-top: 75px;
}
.resume .box .edu-name{
    color: white;
    margin:10px 30px 0px 270px ;
}
.resume .box .edu-name h6{
    font-size: 20px;
}
.resume .box .edu-name p{
    font-size: 16px;
    margin-bottom: 125px;

}
.resume .box .edu-icon .vl{
     border-left:6px solid white;
     height: 100px;
     margin: 5px 23px;
     border-radius: 25%;
}
.resume .box .edu-icon .fa-school{
     background-color: green ;
     padding: 15px;
     color: white;
     border-radius: 50%;
}
.resume .box .edu-details{
   color: white;
   margin-left: 30px;
   margin-top: 10px;
}
.resume .box .edu-details h6{
   font-size: 20px;
   margin-bottom: 10px;
}
.resume .box .edu-details p{
   font-size: 16px;
   margin-bottom: 90px;
}
.resume .box .edu-details hr{
  width:75px;
}
.portfolio{
    width: 100%;
    padding: 90px 0px;
    background-color: #191919;
}
.portfolio .port-title{
    margin: 10px 0px 50px 380px;
}
.portfolio .port-title h5{
    font-size: 30px;
    color: white;
    margin: 0px 0px 20px 265px;

}
.portfolio .port-title h6{
    font-size: 20px;
    color: white;
    margin: 0px 0px 20px 200px;
}

.portfolio .port-title p{
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
}
.portfolio .port-project{
    display: flex;
}
.portfolio .port-project .row-first{
    width: 650px;
    height: auto;
    margin: 0px 60px;
}
.portfolio .port-project .row-first img{
    width: 650px;
}
.portfolio .port-project .row-second{
    width: 650px;
    height: auto;
}
.portfolio .port-project .row-second img{
    width: 650px;
}
.contact{
    width: 100%;
    padding: 90px 0px;
    background-color: black;
}
.contact .cont-title{
    margin: 10px 0px 50px 380px;
}
.contact .cont-title h4{
    font-size: 30px;
    color: white;
    margin: 0px 0px 20px 265px;
}
.contact .cont-title h6{
    font-size: 20px;
    color: white;
    margin: 0px 0px 20px 200px;
}
.contact .cont-title p{
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    margin-left: 230px;
}
.contact .cont-form{
   margin-left: 480px;
}
.contact .cont-form form #name{
   width: 500px;
   border-bottom: 2px solid white;
   border-top: none;
   border-left: none;
   border-right: none;
   background-color: black;
   height: 50px;
   margin-bottom: 10px;
   color: white;
}
.contact .cont-form form #email{
    width: 500px;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: black;
    height: 50px;
    color: white;
    margin-bottom: 10px;
 }
 .contact .cont-form form #subject{
    width: 500px;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: black;
    height: 50px;
    color: white;
    margin-bottom: 10px;
 }
 .contact .cont-form form #message{
    width: 500px;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: black;
    height: 70px;
    margin-bottom: 15px;
    color: white;
    
 }
 .contact .cont-form form #submit{
    width: 500px;
    background-color: red;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    border-radius: 10px;
 }
 .contact .cont-detales{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
 }
 .contact .cont-detales .location{
    color: white;
    width: 250px;
 }
 .contact .cont-detales .location .fa-location{
    padding: 15px;   
    margin-left: 60px;
 }
 .contact .cont-detales .location h5{
     font-size: 20px;
     margin-bottom: 15px;
     margin-left: 40px;
     color: green;
     letter-spacing: 3px;
 }
 .contact .cont-detales .location p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
 }
 .contact .cont-detales .email{
   color: white;
   width: 250px;
 }
 .contact .cont-detales .email .fa-envelope{
    padding: 15px; 
    margin-left: 75px;
   
 }
 .contact .cont-detales .email h5{
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    color: green;
    letter-spacing: 3px;
}
.contact .cont-detales .email p{
   font-size: 15px;
   letter-spacing: 1px;
   line-height: 25px;
}
 .contact .cont-detales .contact-no{
   color:white;
   width: 250px;
 }
.contact .cont-detales .contact-no .fa-address-book{
    padding: 15px; 
    margin-left: 30px;
}
.contact .cont-detales .contact-no h5{
    font-size: 20px;
    margin-bottom: 15px;
    color: green;
    letter-spacing: 3px;
}
.contact .cont-detales .contact-no p{
   font-size: 15px;
   letter-spacing: 1px;
   line-height: 25px;
}
.contact .cont-links{
    margin-top: 100px;
}
.contact .cont-links form button{
     margin-left: 160px;
     color: white;
     background-color: black;
}